body {
}

.wd-tabs li {
    display: inline;
}

.wd-tabs {
    padding-left: 0px;
}

.wd-selected {
    border-bottom: 2px blue solid;
    padding-bottom: 20px;
}

.wd-nudge-up {
    bottom: 8px;
    left: 25px;
}